.is-ctl-product.is-act-index {
  &.is-blog-post {
    .breadcrumb {
      &.cms-breadcrumb {
        margin-bottom: 0;
      }
    }

    .cms-element-product-name {
      width: 100%;

      .product-detail-name {
        -ms-hyphens: auto;
        -webkit-hyphens: auto;
        hyphens: auto;
      }
    }
  }
}
