<?xml version="1.0" encoding="UTF-8"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="https://raw.githubusercontent.com/shopware/platform/master/src/Core/System/SystemConfig/Schema/config.xsd">
    <card>
        <title>Settings for the blog list view</title>
        <title lang="de-DE">Einstellungen für die Blog-Listenansicht</title>

        <input-field type="single-select">
            <name>productBoxMobileNumberProductBoxesSideBySide</name>
            <label>number of side by side boxes in mobile view</label>
            <label lang="de-DE">Anzahl an nebeneinander platzierten Kacheln in der mobilen Ansicht</label>
            <options>
                <option>
                    <id>1</id>
                    <name>1</name>
                    <name lang="de-DE">1</name>
                </option>
                <option>
                    <id>2</id>
                    <name>2</name>
                    <name lang="de-DE">2</name>
                </option>
            </options>
            <defaultValue>1</defaultValue>
        </input-field>

        <input-field type="single-select">
            <name>productBoxTabletNumberProductBoxesSideBySide</name>
            <label>number of side by side boxes in tablet view</label>
            <label lang="de-DE">Anzahl an nebeneinander platzierten Kacheln in der Tablet-Ansicht</label>
            <options>
                <option>
                    <id>1</id>
                    <name>1</name>
                    <name lang="de-DE">1</name>
                </option>
                <option>
                    <id>3</id>
                    <name>3</name>
                    <name lang="de-DE">3</name>
                </option>
            </options>
            <defaultValue>1</defaultValue>
        </input-field>

        <input-field type="single-select">
            <name>productBoxDesktopNumberProductBoxesSideBySide</name>
            <label>number of side by side boxes in desktop view</label>
            <label lang="de-DE">Anzahl an nebeneinander platzierten Kacheln in der Desktop-Ansicht</label>
            <options>
                <option>
                    <id>1</id>
                    <name>1</name>
                    <name lang="de-DE">1</name>
                </option>
                <option>
                    <id>4</id>
                    <name>4</name>
                    <name lang="de-DE">4</name>
                </option>
            </options>
            <defaultValue>1</defaultValue>
        </input-field>

        <input-field type="single-select">
            <name>productBoxReleaseDatePattern</name>
            <label>release date format</label>
            <label lang="de-DE">Format des Veröffentlichungsdatums</label>
            <options>
                <option>
                    <id>dateTimeLongMonth</id>
                    <name>date and time with written out month names</name>
                    <name lang="de-DE">Datum und Uhrzeit mit ausgeschriebenen Monatsnamen</name>
                </option>
                <option>
                    <id>dateLongMonth</id>
                    <name>date with written out month names</name>
                    <name lang="de-DE">Datum mit ausgeschriebenen Monatsnamen</name>
                </option>
                <option>
                    <id>dateTime</id>
                    <name>date and time in short form</name>
                    <name lang="de-DE">Datum und Uhrzeit in Kurzform</name>
                </option>
                <option>
                    <id>date</id>
                    <name>date in short form</name>
                    <name lang="de-DE">Datum in Kurzform</name>
                </option>
            </options>
            <defaultValue>dateTimeLongMonth</defaultValue>
        </input-field>

        <component name="sw-snippet-field">
            <name>listingBoxProductDetailsSnippetName</name>
            <label>text of the read more button for the blog posts</label>
            <label lang="de-DE">Text der mehr erfahren-Schaltfläche für die Blogbeiträge</label>
            <snippet>sschreier.createblogposts.listing.boxProductDetails</snippet>
            <helpText>click on the globe to edit the translations</helpText>
            <helpText lang="de-DE">Klicke auf den Globus, um die Übersetzung zu bearbeiten</helpText>
        </component>

        <input-field type="bool">
            <name>showTeaserImagesOfBlogPosts</name>
            <label>show teaser images of the blog posts</label>
            <label lang="de-DE">Teaserbilder der Blogbeiträge anzeigen</label>
            <defaultValue>true</defaultValue>
        </input-field>

        <input-field type="colorpicker">
            <name>backgroundColorNoTeaserImage</name>
            <label>background color of the area that will be displayed if no teaser image has been assigned</label>
            <label lang="de-DE">Hintergrundfarbe des Bereichs, der angezeigt wird, wenn kein Teaserbild zugewiesen wurde</label>
            <css>sschreier-no-teaser-image-background-color</css>
            <defaultValue>#004080</defaultValue>
            <placeholder>#004080</placeholder>
        </input-field>

        <input-field type="text">
            <name>opacityNoTeaserImage</name>
            <label>opacity value of the background color of the area that will be displayed if no teaser image has been assigned</label>
            <label lang="de-DE">Transparenzwert der Hintergrundfarbe des Bereichs, der angezeigt wird, wenn kein Teaserbild zugewiesen wurde</label>
            <defaultValue>0.8</defaultValue>
            <placeholder>0.8</placeholder>
        </input-field>

        <input-field type="single-select">
            <name>alignmentOfContentNoTeaserImage</name>
            <label>alignment of the content of the area that will be displayed if no teaser image has been assigned</label>
            <label lang="de-DE">Ausrichtung des Inhalts des Bereichs, der angezeigt wird, wenn kein Teaserbild zugewiesen wurde</label>
            <options>
                <option>
                    <id>alignLeft</id>
                    <name>left</name>
                    <name lang="de-DE">links</name>
                </option>
                <option>
                    <id>alignCenter</id>
                    <name>center</name>
                    <name lang="de-DE">mittig</name>
                </option>
                <option>
                    <id>alignRight</id>
                    <name>right</name>
                    <name lang="de-DE">rechts</name>
                </option>
            </options>
            <defaultValue>alignCenter</defaultValue>
        </input-field>

        <input-field type="int">
            <name>paddingNoTeaserImage</name>
            <label>padding value in pixels of the area that will be displayed if no teaser image has been assigned</label>
            <label lang="de-DE">Innenabstand des Bereichs in Pixeln, der angezeigt wird, wenn kein Teaserbild zugewiesen wurde</label>
            <defaultValue>25</defaultValue>
            <placeholder>25</placeholder>
        </input-field>

        <input-field type="colorpicker">
            <name>headlineNoTeaserImageColor</name>
            <label>color of the headline in the area that will be displayed if no teaser image has been assigned</label>
            <label lang="de-DE">Farbe der Überschrift in dem Bereich, der angezeigt wird, wenn kein Teaserbild zugewiesen wurde</label>
            <css>sschreier-headline-no-teaser-image-color</css>
            <defaultValue>#ffffff</defaultValue>
            <placeholder>#ffffff</placeholder>
        </input-field>

        <input-field type="int">
            <name>headlineNoTeaserImageFontSize</name>
            <label>font size of the headline in the area that will be displayed if no teaser image has been assigned</label>
            <label lang="de-DE">Schriftgröße der Überschrift in dem Bereich, der angezeigt wird, wenn kein Teaserbild zugewiesen wurde</label>
            <defaultValue>18</defaultValue>
            <placeholder>18</placeholder>
        </input-field>

        <input-field type="int">
            <name>headlineNoTeaserImageLineHeight</name>
            <label>line height of the headline in the area that will be displayed if no teaser image has been assigned</label>
            <label lang="de-DE">Zeilenhöhe der Überschrift in dem Bereich, der angezeigt wird, wenn kein Teaserbild zugewiesen wurde</label>
            <defaultValue>22</defaultValue>
            <placeholder>22</placeholder>
        </input-field>

        <input-field type="colorpicker">
            <name>colorTextNoTeaserImage</name>
            <label>color of the text in the area that will be displayed if no teaser image has been assigned</label>
            <label lang="de-DE">Farbe des Textes in dem Bereich, der angezeigt wird, wenn kein Teaserbild zugewiesen wurde</label>
            <css>sschreier-text-no-teaser-image-color</css>
            <defaultValue>#ffffff</defaultValue>
            <placeholder>#ffffff</placeholder>
        </input-field>

        <input-field type="int">
            <name>textNoTeaserImageFontSize</name>
            <label>font size of the text in the area that will be displayed if no teaser image has been assigned</label>
            <label lang="de-DE">Schriftgröße des Textes in dem Bereich, der angezeigt wird, wenn kein Teaserbild zugewiesen wurde</label>
            <defaultValue>14</defaultValue>
            <placeholder>14</placeholder>
        </input-field>

        <input-field type="int">
            <name>textNoTeaserImageLineHeight</name>
            <label>line height of the text in the area that will be displayed if no teaser image has been assigned</label>
            <label lang="de-DE">Zeilenhöhe des Textes in dem Bereich, der angezeigt wird, wenn kein Teaserbild zugewiesen wurde</label>
            <defaultValue>18</defaultValue>
            <placeholder>18</placeholder>
        </input-field>

        <input-field type="int">
            <name>textNoTeaserImageLineClamp</name>
            <label>number of lines from which the text will be truncated</label>
            <label lang="de-DE">Anzahl an Zeilen, ab denen der Text abgeschnitten wird</label>
            <defaultValue>3</defaultValue>
            <placeholder>3</placeholder>
        </input-field>
    </card>

    <card>
        <title>Settings for the search results</title>
        <title lang="de-DE">Einstellungen für die Suchergebnisse</title>

        <input-field type="bool">
            <name>searchSuggestShowReadMoreButtonForBlogPosts</name>
            <label>show read more button for the blog posts</label>
            <label lang="de-DE">Mehr lesen-Schaltfläche für die Blogbeiträge anzeigen</label>
            <defaultValue>true</defaultValue>
        </input-field>
    </card>

    <card>
        <title>Settings for the blog post detail page</title>
        <title lang="de-DE">Einstellungen für die Blogbeitragsdetailseite</title>

        <input-field type="single-select">
            <name>productDetailReleaseDatePattern</name>
            <label>release date format</label>
            <label lang="de-DE">Format des Veröffentlichungsdatums</label>
            <options>
                <option>
                    <id>dateTimeLongMonth</id>
                    <name>date and time with written out month names</name>
                    <name lang="de-DE">Datum und Uhrzeit mit ausgeschriebenen Monatsnamen</name>
                </option>
                <option>
                    <id>dateLongMonth</id>
                    <name>date with written out month names</name>
                    <name lang="de-DE">Datum mit ausgeschriebenen Monatsnamen</name>
                </option>
                <option>
                    <id>dateTime</id>
                    <name>date and time in short form</name>
                    <name lang="de-DE">Datum und Uhrzeit in Kurzform</name>
                </option>
                <option>
                    <id>date</id>
                    <name>date in short form</name>
                    <name lang="de-DE">Datum in Kurzform</name>
                </option>
            </options>
            <defaultValue>dateTimeLongMonth</defaultValue>
        </input-field>

        <component name="sw-snippet-field">
            <name>detailTextBeforeManufacturerNameSnippetName</name>
            <label>text before the name of the author</label>
            <label lang="de-DE">Text vor dem Autorennamen</label>
            <snippet>sschreier.createblogposts.detail.textBeforeManufacturerName</snippet>
            <helpText>click on the globe to edit the translations</helpText>
            <helpText lang="de-DE">Klicke auf den Globus, um die Übersetzung zu bearbeiten</helpText>
        </component>
    </card>

    <card>
        <title>Settings for the rss feed</title>
        <title lang="de-DE">Einstellungen für den RSS Feed</title>

        <input-field type="text">
            <name>rssFeedUrlBlogPostCategory</name>
            <label>url of the blog post category</label>
            <label lang="de-DE">URL der Blogbeitragskategorie</label>
        </input-field>

        <input-field type="text">
            <name>rssFeedLanguageAbbreviation</name>
            <label>language abbreviation</label>
            <label lang="de-DE">Sprachkürzel</label>
        </input-field>

         <component name="sw-snippet-field">
            <name>rssFeedTitleSnippetName</name>
            <label>title</label>
            <label lang="de-DE">Titel</label>
            <snippet>sschreier.createblogposts.rssfeed.title</snippet>
            <helpText>click on the globe to edit the translations</helpText>
            <helpText lang="de-DE">Klicke auf den Globus, um die Übersetzung zu bearbeiten</helpText>
        </component>

         <component name="sw-snippet-field">
            <name>rssFeedDescriptionSnippetName</name>
            <label>description</label>
            <label lang="de-DE">Beschreibung</label>
            <snippet>sschreier.createblogposts.rssfeed.description</snippet>
            <helpText>click on the globe to edit the translations</helpText>
            <helpText lang="de-DE">Klicke auf den Globus, um die Übersetzung zu bearbeiten</helpText>
        </component>

        <component name="sw-snippet-field">
            <name>rssFeedCopyrightSnippetName</name>
            <label>copyright</label>
            <label lang="de-DE">Copyright</label>
            <snippet>sschreier.createblogposts.rssfeed.copyright</snippet>
            <helpText>click on the globe to edit the translations</helpText>
            <helpText lang="de-DE">Klicke auf den Globus, um die Übersetzung zu bearbeiten</helpText>
        </component>

        <input-field type="int">
            <name>rssFeedTruncateDescriptionBlogPost</name>
            <label>number of characters from which the description of a blog post should be truncated</label>
            <label lang="de-DE">Anzahl an Zeichen, ab denen die Beschreibung eines Blogbeitrags gekürzt werden soll</label>
            <defaultValue>200</defaultValue>
            <placeholder>200</placeholder>
        </input-field>
    </card>
</config>
