$sschreier-no-teaser-image-background-color: #e02f2f !default;
$sschreier-opacity-no-teaser-image: 1.0 !default;
$sschreier-padding-no-teaser-image: 25 !default;
$sschreier-headline-no-teaser-image-color: #ffffff !default;
$sschreier-headline-no-teaser-image-font-size: 18 !default;
$sschreier-headline-no-teaser-image-line-height: 18 !default;
$sschreier-text-no-teaser-image-color: #ffffff !default;
$sschreier-text-no-teaser-image-font-size: 14 !default;
$sschreier-text-no-teaser-image-line-height: 14 !default;
$sschreier-text-no-teaser-image-line-clamp: 3 !default;

.product-box {
  .card-body {
    .blog-post-placeholder {
      display: flex;
      width: 100%;
      height: 100%;

      .blog-post-placeholder-background {
        background-color: $sschreier-no-teaser-image-background-color;
        width: 100%;
        height: 100%;
        opacity: $sschreier-opacity-no-teaser-image;
      }

      .blog-post-placeholder-content {
        position: absolute;
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100%;
        height: 100%;
        padding: $sschreier-padding-no-teaser-image * 1px;

        &.text-align-center {
          text-align: center;
          align-items: center;
        }

        &.text-align-right {
          text-align: right;
          align-items: flex-end;
        }

        .blog-post-placeholder-content-headline {
          width: 100%;
          font-size: $sschreier-headline-no-teaser-image-font-size * 1px;
          line-height: $sschreier-headline-no-teaser-image-line-height * 1px;
          font-weight: 700;
          -ms-hyphens: auto;
          -webkit-hyphens: auto;
          hyphens: auto;
          color: $sschreier-headline-no-teaser-image-color;
        }

        .blog-post-placeholder-content-text {
          width: 100%;
          font-size: $sschreier-text-no-teaser-image-font-size * 1px;
          line-height: $sschreier-text-no-teaser-image-line-height * 1px;
          overflow: hidden;
          text-overflow: ellipsis;
          display: -webkit-box;
          -webkit-line-clamp: $sschreier-text-no-teaser-image-line-clamp;
          -webkit-box-orient: vertical;
          -ms-hyphens: auto;
          -webkit-hyphens: auto;
          hyphens: auto;
          color: $sschreier-text-no-teaser-image-color;
        }
      }
    }
  }
}

.product-box {
  .card-body {
    .product-info {
      .is-blog-post {
        &.product-rating-container {
          height: 35px;
        }

        &.blog-post-meta-information {
          p {
            margin-bottom: 0;
          }
        }

        &.product-action {
          margin-top: 182px;
        }
      }

      .product-info-detail {
        &.blog-post-info-detail {
          .product-name {
            &::before {
              content: "";
              position: absolute;
              inset: 0 0 0 0;
              z-index: 1;
            }
          }
        }
      }
    }
  }
}

.cms-element-product-listing-wrapper-inner {
  width: 100%;

  &.is-blog-post-category {
    .product-box {
      .card-body {
        .product-info {
          .is-blog-post {
            &.product-rating-container {
              height: 0;
            }

            &.product-action {
              margin-top: 20px;
            }
          }
        }
      }
    }
  }
}

.is-ctl-search {
  &.is-act-search {
    .cms-element-product-listing-wrapper-inner {
      &.is-not-blog-post-category {
        .product-box {
          .card-body {
            .product-info {
              .is-blog-post {
                &.product-action {
                  margin-top: 118px;
                }
              }
            }
          }
        }
      }
    }
  }
}

@include media-breakpoint-up(sm) {
  .cms-element-product-listing-wrapper-inner.is-blog-post-category .product-box,
  .product-box {
    .card-body {
      .product-info {
        .is-blog-post {
          &.product-rating-container {
            height: 35px;
          }
        }
      }
    }
  }

  .cms-element-product-listing-wrapper-inner {
    &.is-blog-post-category {
      .cms-listing-col {
        .product-box {
          .card-body {
            .product-image-outer-wrapper {
              .product-image-wrapper {
                margin-bottom: 0;
              }
            }
          }
        }
      }
    }
  }
}

@include media-breakpoint-between(sm, lg) {
  .cms-element-product-listing-wrapper-inner {
    &.col-sm-12 {
      .cms-listing-col {
        &.col-sm-6 {
          flex: 0 0 auto;
          width: 100%;

          .product-box {
            .card-body {
              display: flex;

              .product-image-wrapper {
                display: flex;
                flex: 0 0 25%;
              }

              .product-image-outer-wrapper {
                display: flex;
                flex: 0 0 25%;

                .product-image-wrapper {
                  flex: 0 0 100%;
                }
              }

              .product-info {
                display: flex;
                flex: 0 0 75%;
                max-width: 75%;

                .product-info-detail {
                  display: flex;
                  flex-direction: column;
                  justify-content: center;
                  padding: 0 20px;
                  max-width: 100%;

                  .product-name {
                    height: auto;
                  }
                }

                .product-action {
                  max-width: 240px;
                }
              }

              .product-image-wrapper-hidden {
                &+.product-info {
                  flex: 0 0 100%;
                  max-width: 100%;
                }
              }
            }
          }
        }
      }
    }
  }
}

@include media-breakpoint-between(lg, xl) {
  .cms-element-product-listing-wrapper-inner {
    &.col-lg-12 {
      .cms-listing-col {
        &.col-lg-4 {
          flex: 0 0 auto;
          width: 100%;

          .product-box {
            .card-body {
              display: flex;

              .product-image-wrapper {
                display: flex;
                flex: 0 0 25%;
              }

              .product-image-outer-wrapper {
                display: flex;
                flex: 0 0 25%;

                .product-image-wrapper {
                  flex: 0 0 100%;
                }
              }

              .product-info {
                display: flex;
                flex: 0 0 75%;
                max-width: 75%;

                .product-info-detail {
                  display: flex;
                  flex-direction: column;
                  justify-content: center;
                  padding: 0 20px;
                  max-width: 100%;

                  .product-name {
                    height: auto;
                  }
                }

                .product-action {
                  max-width: 240px;
                }
              }

              .product-image-wrapper-hidden {
                &+.product-info {
                  flex: 0 0 100%;
                  max-width: 100%;
                }
              }
            }
          }
        }
      }
    }
  }
}

@include media-breakpoint-up(xl) {
  .cms-element-product-listing-wrapper-inner {
    &.col-xl-12 {
      .cms-listing-col {
        &.col-xl-3 {
          flex: 0 0 auto;
          width: 100%;

          .product-box {
            .card-body {
              display: flex;

              .product-image-wrapper {
                display: flex;
                flex: 0 0 25%;
              }

              .product-image-outer-wrapper {
                display: flex;
                flex: 0 0 25%;

                .product-image-wrapper {
                  flex: 0 0 100%;
                }
              }

              .product-info {
                display: flex;
                flex: 0 0 75%;
                max-width: 75%;

                .product-info-detail {
                  display: flex;
                  flex-direction: column;
                  justify-content: center;
                  padding: 0 20px;
                  max-width: 100%;

                  .product-name {
                    height: auto;
                  }
                }

                .product-action {
                  max-width: 240px;
                }
              }

              .product-image-wrapper-hidden {
                &+.product-info {
                  flex: 0 0 100%;
                  max-width: 100%;
                }
              }
            }
          }
        }
      }
    }
  }
}
