{% block review_form_content_label_blogposts %}
    <label for="reviewContent">
        {{ "sschreier.createblogposts.detail.reviewFormContentLabel"|trans|sw_sanitize }}{{ "general.required"|trans|sw_sanitize }}
    </label>
{% endblock %}
