{% block review_widget_teaser_button_blogposts %}
    <button class="btn btn-primary product-detail-review-teaser-btn"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target=".multi-collapse"
        aria-expanded="false"
        aria-controls="review-form review-list">
        <span class="product-detail-review-teaser-show">
            {% if not reviews.customerReview %}
                {{ "sschreier.createblogposts.detail.reviewTeaserButton"|trans|sw_sanitize }}
            {% else %}
                {{ "sschreier.createblogposts.detail.reviewExistsTeaserButton"|trans|sw_sanitize }}
            {% endif %}
        </span>
        <span class="product-detail-review-teaser-hide">
            {{ "sschreier.createblogposts.detail.reviewTeaserButtonHide"|trans|sw_sanitize }}
        </span>
    </button>
{% endblock %}
