{% block review_login_form_description_blogposts %}
    <p class="login-form-description">
        {{ "sschreier.createblogposts.detail.reviewLoginDescription"|trans|sw_sanitize }}
        <a href="{{ path('frontend.account.login.page') }}"
           title="{{ "sschreier.createblogposts.detail.reviewRegisterLink"|trans|striptags }}">
            {{ "sschreier.createblogposts.detail.reviewRegisterLink"|trans|sw_sanitize }}
        </a>
    </p>
{% endblock %}
